.unit-sismo {
    border: 1px solid #363434;
    background-color: #62929a;
    margin: 10px;
    min-width: 300px;
    padding: 10px;
    border-radius: 20px;
    
}

h4 {
    display: inline;
    
}